<div class="files-component-body">
    <div class="card">
        <div class="card-body">
            <div *ngIf="successMsg" class="alert alert-success" role="alert">{{ successMsg }}</div>
            <div *ngIf="errorMsg" class="alert alert-danger" role="alert">{{ errorMsg }}</div>
            <div class="fileDropRef" appDragAndDrop (fileDropped)="onFileDropped($event)">
                <input type="file" #fileDropRef id="fileDropRef"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    [multiple]="false" (change)="getFilesToUpload($event.target)" hidden />
                <label for="fileDropRef" class="file-upload-btn">
                    <img src="assets/cloud-arrow-up.svg" alt="upload-file" class="filedrop-icon" />
                </label>
                <div>
                    Lohista fail siia või <label for="fileDropRef" class="filedrop-text">laadi üles</label>
                </div>
            </div>

            <div class="table-container" *ngIf="storedData.at(0)">
                <table class="table table-sm">

                    <thead class="thead">
                        <tr>
                            <th scope="col">
                                Andmeelement
                            </th>
                            <th scope="col">
                                Andmesõnastiku termin
                            </th>
                            <th scope="col">
                                Ärisõnastiku terminid
                            </th>
                            <th scope="col">
                                Diagramm
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let dataRow of storedData; let rowId = index">
                        <tr [attr.id]=rowId>
                            <td>
                                <div class="tooltip-custom">{{dataRow.dataElement}}<span
                                        class="tooltiptext">{{dataRow.description}}</span></div>
                            </td>
                            <td>
                                {{dataRow.dataDictionaryTerm}}
                            </td>
                            <td><span *ngIf="dataRow.businessDictionaryTerm1">
                                    {{dataRow.businessDictionaryTerm1}}</span>
                                <span *ngIf="dataRow.businessDictionaryTerm2">,
                                    {{dataRow.businessDictionaryTerm2}}</span>
                            </td>
                            <td>
                                <div class="d-grid col-6">
                                    <button class="btn btn-primary" (click)="sendRowData(dataRow)"
                                        routerLink="/flowchart">Diagramm</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>