<div class="files-component-body"><app-heading color="{{'black'}}" size="32px" text="Andmete diagramm"></app-heading></div>
<div class="chart-container mt-4">
  <canvas id="myChart"></canvas>
</div>
<div class="mt-4">
  <app-button background="{{'rgb(13, 110, 253)'}}" color="white" text="Tabeli vaatesse" (btnClick)="emptyChartData()"
    routerLink="/">
  </app-button>
</div>
