/* You can add global styles to this file, and also import other style files */
@import '~node_modules/bootstrap/dist/css/bootstrap.min.css';

app-home {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

body {
    background-color: rgb(250, 250, 250);
}

.card {
    justify-content: center;
    margin: 2rem;
}

.chart-container{
    width:100%;
}

/** File drop part:*/
.fileDropRef {
    margin-bottom: 3rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    vertical-align: center;
    position: relative;
    height: 10rem;


}

.filedrop-icon {
    width: 50px;
    cursor: pointer;
}

.filedrop-text {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;

}

.file-upload-btn {
    max-width: 10rem;
}


.fileover {
    background-color: darkgray;
}

/** body of file-upload component */
.files-component-body {
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.heading1 {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

a.nav-link {
    color: white !important;
}

a.nav-link:hover {
    color: aliceblue;
    font-weight: bold;
}

.table-container {
    box-sizing: border-box;
    padding: 0 3rem 3rem 3rem;
}

th {
    padding-bottom: 20px !important;
}

.tooltip-custom {
    position: relative;
    display: inline-block;
    width: max-content;
    cursor: pointer;
    white-space: no-wrap;

}

.tooltip-custom .tooltiptext {
    content: attr(title);
    font-size: 0.9em;
    color: black;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    bottom: 100%;
    left: 50%;
    width: max-content;
    opacity: 0.9;
    white-space: no-wrap;
}

.tooltip-custom:hover .tooltiptext {
    visibility: visible;
}

@media screen and (max-width: 770px) {

    .card {
        margin: 0 2rem 0 2rem;
    }

    .card-body {
        margin: 0;
        padding: 0;
    }

    .container {
        min-width: 100% !important;
        padding: 0 !important;
    }

    .fileDropRef {
        margin-bottom: 1rem;
        padding-top: 2rem;
    }

    .table-container {
        padding: 0 20px 20px 20px;
    }


}

@media screen and (max-width: 572px) {
    body {
        font-size: smaller;
        word-wrap: break-word;
    }

    .btn {
        font-size: small;
        word-wrap: break-word !important;
        word-break: normal !important;
    }

    .card {
        margin: 10px;
    }

    .filedrop-icon {
        width: 35px;
    }

    .fileDropRef {
        margin: 0 !important;
        padding-top: 1.5rem;
        height: 8rem;
    }

    .files-component-body {
        padding-top: 0.5rem !important;
        margin-top: 0.5rem !important;
    }

    h1 {
        font-size: 20px !important;
    }

    .heading1 {
        margin-top: 1rem;
    }

    .table {
        white-space: normal !important;
        word-wrap: break-word !important;
    }

    th {
        padding-bottom: 10px !important;
    }

    th,
    td {
        white-space: normal !important;
        word-wrap: break-word !important;
        word-break: break-word !important;

    }
}

@media screen and (max-width: 340px) {
    app-heading {
        margin-top: 0;
    }

    body {
        font-size: x-small;
    }

    .btn {
        padding: 4px;
        font-size: smaller;
    }

    .filedrop-icon {
        width: 25px;
    }

    .fileDropRef {
        padding-top: 1rem;
        padding-bottom: 0;
        margin-bottom: 0rem;
        height: 4.5rem;
    }

    .files-component-body {
        padding-top: 0.5rem !important;
        margin-top: 0.5rem !important;
    }

    .heading1 {
        margin-top: 1rem;
        font-size: 15px;
    }

    .table-container {
        padding: 5px;
    }
}